babel
bitmath
brotli
cachelib
certifi
cheroot
click
filetype
flask
flask-babel
flask-caching
flask-compress
flask-session
flask-themes2
itsdangerous
jaraco.collections
jaraco.functools
jinja2
js2py
more_itertools
pycurl
pyjsparser
pyload-ng
pytz
semver
setuptools
werkzeug
